<app-navbar></app-navbar>
<!-- banner -->
<section id="banner">
  <div class="col-md-12">
    <div
      id="carouselExampleControls"
      class="carousel slide"
      data-bs-ride="carousel"
    >
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img
            src="/assets/img/mb-1.png"
            class="d-block"
            alt="image-1"
            width="100%"
            height="500px"
            style="
              background-position: center center;
              background-size: cover;
              object-fit: cover;
            "
          />
        </div>
        <div class="carousel-item">
          <img
            src="/assets/img/1217285.webp"
            class="d-block"
            alt="image-2"
            width="100%"
            height="500px"
            style="
              background-position: center center;
              background-size: cover;
              object-fit: cover;
            "
          />
        </div>
        <div class="carousel-item">
          <img
            src="/assets/img/mobil-putih-mercedes-benz-wallpaper-2560x1080_14.jpg"
            class="d-block"
            alt="image-3"
            width="100%"
            height="500px"
            style="
              background-position: center center;
              background-size: cover;
              object-fit: cover;
            "
          />
        </div>
        <div class="carousel-item">
          <img
            src="/assets/img/mercedes-benz-amg-gt-s-wallpaper-for-desktop-mobiles-5120x2160.jpg"
            class="d-block"
            alt="image-4"
            width="100%"
            height="500px"
            style="
              background-position: center center;
              background-size: cover;
              object-fit: cover;
            "
          />
        </div>
      </div>
    </div>
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#carouselExampleControls"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" ari-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#carouselExampleControls"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <div class="message">
    <h1>Andaran'Showroom</h1>
  </div>
</section>

<!-- ==== -->

<!-- merc models -->
<section id="merce">
  <div class="container1-fluid">
    <div class="row1 text-center text-white mb-3">
      <div class="col1">
        <h1>Popular Models</h1>
      </div>
      <div class="row justify-content-center">
        <div class="col-md-3">
          <div class="card">
            <img
              src="/assets/img/mb-c-class-2-480x270px.jpg"
              class="card-img-top"
              alt="Mercedes-Benz"
              width="373px"
              height="210px"
            />
            <div class="card-body text-white">
              <h3><b>Mercedes-Benz C-Class</b></h3>
              <p class="card-text">
                kelas-C menarik di berbagai level dengan copue. Saloon,
                Convertible, dan Estate.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card">
            <img
              src="/assets/img/e-class-480x270px.jpg"
              class="card-img-top"
              alt="Mercedes-Benz"
              width="373px"
              height="210px"
            />
            <div class="card-body text-white">
              <h3><b>Mercedes-Benz E-Class</b></h3>
              <p class="card-text">
                Mobil premium ukuran sedang yang akan membuat Anda terpukau jauh
                dengan kenyamanan dan fitur teknologi. Tersedia di dalam empat
                gaya tubuh.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card">
            <img
              src="/assets/img/a-class-480x270px.jpg"
              class="card-img-top"
              alt="Mercedes-Benz"
              width="373px"
              height="210px"
            />
            <div class="card-body text-white">
              <h3><b>Mercedes-Benz A-Class</b></h3>
              <p class="card-text">
                A-Class menghadirkan teknologi, kenyamanan, dan gaya terbai, di
                Mercedes-Benz dalam kemasan yang ringkas dan terjangkau.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card">
            <img
              src="/assets/img/gle-suv-480x270px.jpg"
              class="card-img-top"
              alt="Mercedes-Benz "
              width="373px"
              height="210px"
            />
            <div class="card-body text-white">
              <h3><b>Mercedes-Benz GLE</b></h3>
              <p class="card-text">
                Pada Dasarnya versi SUV dari saudara permpuan mobil sedannya,
                GLE enak dilihat dan nyaman dikendarai.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- merc models -->
<!-- ===== -->
<div class="container justify-content-center">
  <div class="row mt-4">
    <h1 class="judul">Mercedes-Benz Model</h1>
    <div class="col-md-3">
      <div class="card">
        <img
          src="/assets/img/cls-480x270px.jpg"
          class="card-img-top"
          alt="image-2"
          width="373px"
          height="210px"
        />
        <div class="card-body">
          <h3><b>Mercedes-Benz CLS</b></h3>
          <p class="card-text">
            Sebuah coupé 4 pintu yang besar dan mewah yang sangat nyaman dan
            halus, tetapi juga memiliki kesan sporty.
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card">
        <img
          src="/assets/img/mb-b-class-480x270px.jpg"
          class="card-img-top"
          alt="image-3"
          width="373px"
          height="210px"
        />
        <div class="card-body">
          <h3><b>Mercedes-Benz B-Class</b></h3>
          <p class="card-text">
            Memberi Anda kepraktisan dan ruang dari sebuah MPV selain citra
            Mercedes-Benz yang diinginkan.
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card">
        <img
          src="/assets/img/mb-cla-480x270px.jpg"
          class="card-img-top"
          alt="image-4"
          width="373px"
          height="210px"
        />
        <div class="card-body">
          <h3><b>Mercedes-Benz CLA</b></h3>
          <p class="card-text">
            Sebuah coupé 4 pintu yang berkelas dan kompak dengan sifat sporty,
            tampilan khas, dan teknologi terkini.
          </p>
        </div>
      </div>
    </div>
    <!-- ======= -->
    <div class="col-md-3 justify-content-center">
      <div class="card">
        <img
          src="/assets/img/mb-gls-480x270px.jpg"
          class="card-img-top"
          alt="image-5"
          width="373px"
          height="210px"
        />
        <div class="card-body">
          <h3><b>Mercedes-Benz GLS</b></h3>
          <p class="card-text">
            SUV 7 tempat duduk ekstra besar, mewah, yang lebih halus, nyaman,
            dan lapang dari hampir semua mobil di jalan.
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card">
        <img
          src="/assets/img/mb-eqc-480x270px.jpg"
          class="card-img-top"
          alt="image-6"
          width="373px"
          height="210px"
        />
        <div class="card-body">
          <h3><b>Mercedes-Benz EQC</b></h3>
          <p class="card-text">
            Mobil all-electric mainstream pertama Mercedes, EQC cepat, mewah dan
            juga cukup praktis.
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card">
        <img
          src="/assets/img/mb-m-class-480x270px.jpg"
          class="card-img-top"
          alt="image-7"
          width="373px"
          height="210px"
        />
        <div class="card-body">
          <h3><b>Mercedes-Benz M-Class</b></h3>
          <p class="card-text">
            SUV all-wheel drive yang cukup besar yang menemukan kembali makna
            kemewahan 4x4 Jerman.
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card">
        <img
          src="/assets/img/mb-v-class-480x270px.jpg"
          class="card-img-top"
          alt="image-8"
          width="373px"
          height="210px"
        />
        <div class="card-body">
          <h3><b>Mercedes-Benz V-Class</b></h3>
          <p class="card-text">
            Mendefinisikan istilah "MPV premium" dengan konfigurasi 7 dan 8
            kursi yang mewah dan fitur teknologi yang hebat
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card">
        <img
          src="/assets/img/slc-cabrio-480x270px.jpg"
          class="card-img-top"
          alt="image-9"
          width="373px"
          height="210px"
        />
        <div class="card-body">
          <h3><b>Mercedes-Benz SLC</b></h3>
          <p class="card-text">
            Mobil sport Mercedes-Benz dengan harga terjangkau dengan penggerak
            roda belakang dan atap hard top lipat elektronik.
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card">
        <img
          src="/assets/img/mb-eqv-480x270px.jpg"
          class="card-img-top"
          alt="image-10"
          width="373px"
          height="210px"
        />
        <div class="card-body">
          <h3><b>Mercedes-Benz EQV</b></h3>
          <p class="card-text">
            Sebagai versi V-Class yang sepenuhnya elektrik, EQV telah
            menciptakan kembali MPV premium untuk dunia baru.
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card">
        <img
          src="/assets/img/mb-s-class-480x270px.jpg"
          class="card-img-top"
          alt="image-11"
          width="373px"
          height="210px"
        />
        <div class="card-body">
          <h3><b>Mercedes-Benz S-Class</b></h3>
          <p class="card-text">
            Pada dasarnya sebuah limusin, S-Class bekas menawarkan pengalaman
            berkendara yang sangat mewah dengan harga yang kurang dari yang Anda
            kira.
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card">
        <img
          src="/assets/img/sl.jpg"
          class="card-img-top"
          alt="image-12"
          width="373px"
          height="210px"
        />
        <div class="card-body">
          <h3><b>Mercedes-Benz SL</b></h3>
          <p class="card-text">
            Salah satu grand tourer definitif dalam 50 tahun terakhir, roadster
            SL hard-top memberi Anda sensasi drop-top mewah.
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card">
        <img
          src="/assets/img/mb-glc-suv-480x270px.jpg"
          class="card-img-top"
          alt="image-12"
          width="373px"
          height="210px"
        />
        <div class="card-body">
          <h3><b>Mercedes-Benz GLC</b></h3>
          <p class="card-text">
            Pada dasarnya versi SUV dari saudara perempuan mobil sedannya, GLC
            enak dilihat dan nyaman dikendarai.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- ======== -->
<!-- Amg -->
<div class="row">
  <h1>Mercedes-AMG Cars</h1>
</div>

<div class="containerA">
  <div class="row text-center mb-3">
    <h1>
      <b><i>AMG Model</i></b>
    </h1>

    <div class="col-md-4">
      <div class="card">
        <img
          src="/assets/img/sls.jpg"
          class="card-img-top"
          alt="mb-sls"
          width="373px"
          height="300px"
        />
        <div class="card-body text-white">
          <h2><b>Mercedes-Benz SLS AMG </b></h2>
          <p class="card-text">
            Ini adalah sebuah mobil super yang dikembangkan oleh Mercedes Benz
            untuk menggantikan model sebelumnya Mercedes-Benz SLR McLaren. Mobil
            ini ingin mengulang kejayaan Mercedes-Benz 300SL Gullwing yang
            diluncurkan tahun 1960an.
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <img
          src="/assets/img/d4mgxipqhg3olqal5b2j.jpg"
          class="card-img-top"
          alt="mb-g63"
          width="373px"
          height="300px"
        />
        <div class="card-body text-white">
          <h2><b>Mercedes-Benz G63 AMG</b></h2>
          <p class="card-text">
            “Ini adalah Mercedes-AMG G63 Edition 1 pertama dan satu-satunya di
            Indonesia. G-Class ini sudah berbeda total dari yang sebelumnya di
            Indonesia
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <img
          src="/assets/img/410909_2021_Mercedes-Benz_GLE-Class.jpg"
          class="card-img-top"
          alt="mb-g63"
          width="373px"
          height="300px"
        />
        <div class="card-body text-white">
          <h2><b>Mercedes-AMG Cranks GLE Coupe</b></h2>
          <p class="card-text">
            Mercedes-AMG Menghidupkan GLE Coupe hingga 603 Horsepower. Didesain
            ulang sepenuhnya untuk tahun 2020, GLE menengah sudah menawarkan
            banyak pilihan mesin mulai dari 255 hingga 429 tenaga kuda, tetapi
            itu jelas tidak cukup bagi para ilmuwan gila di AMG.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
